---
const { richText } = Astro.props;
---
{richText?.map((t: any) => {
  const { annotations, text, href } = t;
  let content = text.content;

  if (annotations.bold) content = <strong>{content}</strong>;
  if (annotations.italic) content = <em>{content}</em>;
  if (annotations.strikethrough) content = <del>{content}</del>;
  if (annotations.underline) content = <u class="underline underline-offset-4">{content}</u>;
  if (annotations.code) content = <code class="bg-slate-100 text-pink-500 px-1.5 py-0.5 rounded text-sm font-mono">{content}</code>;
  
  if (href) {
    return <a href={href} class="text-primary hover:underline transition-all underline-offset-4 decoration-2">{content}</a>;
  }
  
  return content;
})}
